.resizeImg {
  width: 500px;
  height: 500px;
  position: fixed;
  right: 0;
  top: 0%;
}

.resizeImg2 {
  width: 500px;
  height: 500px;
  position: fixed;
  right: 0;
  top: 0%;
}

.resizeImg3 {
  width: 500px;
  height: 500px;
  position: fixed;
  right: 0;
  top: 0%;
}