.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card {
  height: 100%; /* Ensures the card takes full height of the container */
}

.card-body {
  min-height: 150px; /* Sets a minimum height for the card body */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.create-your-own {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-image: linear-gradient(135deg, rgba(255, 123, 0, 0.904) 40%, #ff7b00);
  cursor: pointer;
}

.create-your-own:active {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(255, 123, 0, 0.904);
}

/* Easy 1 */

.whole-text {
  margin-left: 45px;
  margin-top: 50px;
  position: absolute;
  width: 700px;
  top: 0;
  left: 0;
  text-align: left; 
}

.ul {
  font-weight: normal;
  font-size: 30px;
}

.list {
  font-weight: normal;
}

.instructions {
  width: 550px
}